x-common-keys: &common-keys # common keys
  restart: unless-stopped
  logging:
    driver: json-file
  security_opt:
    - no-new-privileges:true
  environment:
    PUID: 997
    PGID: 983
    UMASK: 002 # new files permission inheritance
    TZ: Europe/London
  dns:
    - 1.1.1.1
    - 1.0.0.1

services:
  reverse-proxy:
    image: nginx:1.29.3-alpine
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    ports:
      - "127.0.0.1:80:80" # If multiple eth binded to different addresses, filter this way
    networks:
      - arr_network
      - immich_network
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro

  radarr: # management of movies library
    <<: *common-keys
    container_name: radarr
    image: ghcr.io/hotio/radarr:latest
    # ports:
    #   - "127.0.0.1:7878:7878"
    networks:
      - arr_network
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${ROOT_CONFIG_FOLDER}/radarr:/config
      - ${ROOT_MEDIA_FOLDER}:/data # radarr should have access to entire mount point (see torrent + media files)

  sonarr: # management of tv shows library
    <<: *common-keys
    container_name: sonarr
    image: ghcr.io/hotio/sonarr:latest
    # ports:
    #   - "127.0.0.1:8989:8989"
    networks:
      - arr_network
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${ROOT_CONFIG_FOLDER}/sonarr:/config
      - ${ROOT_MEDIA_FOLDER}:/data # sonarr should have access to entire mount point (see torrent + media files)

  lidarr: # management of music library
    <<: *common-keys
    container_name: lidarr
    image: ghcr.io/hotio/lidarr:latest
    # ports:
    #   - "127.0.0.1:8686:8686"
    networks:
      - arr_network
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${ROOT_CONFIG_FOLDER}/lidarr:/config
      - ${ROOT_MEDIA_FOLDER}:/data # lidarr should have access to entire mount point (see torrent + media files)

  bazarr: # subtitles management
    <<: *common-keys
    container_name: bazarr
    image: ghcr.io/hotio/bazarr:latest
    # ports:
    #   - "127.0.0.1:6767:6767"
    networks:
      - arr_network
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${ROOT_CONFIG_FOLDER}/bazarr:/config
      - ${ROOT_MEDIA_FOLDER}:/data # bazarr should have access to entire mount point (see torrent + media files)

  prowlarr: # indexer manager
    <<: *common-keys
    container_name: prowlarr
    image: ghcr.io/hotio/prowlarr:latest
    # ports:
    #   - "127.0.0.1:9696:9696"
    networks:
      - arr_network
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${ROOT_CONFIG_FOLDER}/prowlarr:/config

  flaresolverr: # runs on internal network to bypass cloudflare protection for indexers and trackers
    <<: *common-keys
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    networks:
      - arr_network

  qbittorrent: # downloader
    <<: *common-keys
    container_name: qbittorrent
    image: ghcr.io/hotio/qbittorrent:latest
    ports:
      - "127.0.0.1:8080:8080"
    environment:
      - WEBUI_PORT=8080
      - TORRENTING_PORT=6881
      - PUID=997
      - PGID=983
      - UMASK=002 # new files permission inheritance
      - TZ=Europe/London
    networks:
      - arr_network
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${ROOT_CONFIG_FOLDER}/qbittorrent:/config
      - ${ROOT_MEDIA_FOLDER}:/data # qbittorrent should have access to entire mount point (see torrent + media files)

  jellyfin: # media server
    <<: *common-keys
    container_name: jellyfin
    image: ghcr.io/hotio/jellyfin:latest
    volumes:
      - /etc/localtime:/etc/localtime:ro # to get time to container
      - ${ROOT_CONFIG_FOLDER}/jellyfin:/config
      - ${ROOT_MEDIA_FOLDER}/media:/data/media:ro #read-only access to media files for jellyfin, it should not be able to modify them
    networks:
      - arr_network
    # ports:
    #   - "127.0.0.1:8096:8096"

  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    restart: unless-stopped
    environment:
      - LOG_LEVEL=debug
      - TZ=Europe/London
    ports:
      - "127.0.0.1:5055:5055"
    volumes:
      - ${ROOT_CONFIG_FOLDER}/jellyseerr:/app/config

  immich-server:
    container_name: immich_server
    image: ghcr.io/immich-app/immich-server:${IMMICH_VERSION:-release}
    restart: unless-stopped
    user: "1002:1002" # user immich with no sudo privileges. change here
    volumes:
      - ${ROOT_IMAGES_FOLDER}:/data # data is stored on a folder owned by immich user
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "127.0.0.1:2283:2283"
    depends_on:
      - redis
      - database
    healthcheck:
      disable: false
    security_opt:
      - no-new-privileges:true
    networks:
      - immich_network

  redis:
    container_name: immich_redis
    image: docker.io/valkey/valkey:9@sha256:fb8d272e529ea567b9bf1302245796f21a2672b8368ca3fcb938ac334e613c8f
    restart: unless-stopped
    healthcheck:
      test: redis-cli ping || exit 1
    security_opt:
      - no-new-privileges:true
    networks:
      - immich_network

  database:
    container_name: immich_postgres
    image: ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0@sha256:bcf63357191b76a916ae5eb93464d65c07511da41e3bf7a8416db519b40b1c23
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: ${IMMICH_DB_PASSWORD}
      POSTGRES_USER: ${IMMICHDB_USERNAME}
      POSTGRES_DB: imich_db
      POSTGRES_INITDB_ARGS: "--data-checksums"
    volumes:
      - ${DB_IMAGES_FOLDER}:/var/lib/postgresql/data # data location must be owned by postgres user (default uid 999)
    shm_size: 128mb
    security_opt:
      - no-new-privileges:true
    networks:
      - immich_network

networks:
  arr_network:
    driver: bridge
  immich_network:
    driver: bridge
