x-common-keys: &common-keys # common keys
  restart: unless-stopped
  logging:
    driver: json-file
  security_opt:
    - no-new-privileges:true
  environment:
    PUID: ${PUID}
    PGID: ${PGID}
    UMASK: 002 # new files permission inheritance
    TZ: Europe/London
  networks:
    - arr_network
  dns:
    - 1.1.1.1
    - 1.0.0.1

services:
  radarr: # management of movies library
    <<: *common-keys
    container_name: radarr
    image: ghcr.io/hotio/radarr:latest
    # ports:
    #   - "127.0.0.1:7878:7878"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${ROOT_CONFIG_FOLDER}/radarr:/config
      - ${ROOT_MEDIA_FOLDER}:/data # radarr should have access to entire mount point (see torrent + media files)

  sonarr: # management of tv shows library
    <<: *common-keys
    container_name: sonarr
    image: ghcr.io/hotio/sonarr:latest
    # ports:
    #   - "127.0.0.1:8989:8989"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${ROOT_CONFIG_FOLDER}/sonarr:/config
      - ${ROOT_MEDIA_FOLDER}:/data # sonarr should have access to entire mount point (see torrent + media files)

  lidarr: # management of music library
    <<: *common-keys
    container_name: lidarr
    image: ghcr.io/hotio/lidarr:latest
    # ports:
    #   - "127.0.0.1:8686:8686"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${ROOT_CONFIG_FOLDER}/lidarr:/config
      - ${ROOT_MEDIA_FOLDER}:/data # lidarr should have access to entire mount point (see torrent + media files)

  bazarr: # subtitles management
    <<: *common-keys
    container_name: bazarr
    image: ghcr.io/hotio/bazarr:latest
    # ports:
    #   - "127.0.0.1:6767:6767"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${ROOT_CONFIG_FOLDER}/bazarr:/config
      - ${ROOT_MEDIA_FOLDER}:/data # bazarr should have access to entire mount point (see torrent + media files)

  prowlarr: # indexer manager
    <<: *common-keys
    container_name: prowlarr
    image: ghcr.io/hotio/prowlarr:latest
    # ports:
    #   - "127.0.0.1:9696:9696"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${ROOT_CONFIG_FOLDER}/prowlarr:/config

  flaresolverr: # runs on internal network to bypass cloudflare protection for indexers and trackers
    <<: *common-keys
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr

  qbittorrent: # downloader
    <<: *common-keys
    container_name: qbittorrent
    image: ghcr.io/hotio/qbittorrent:latest
    ports:
      - "127.0.0.1:8080:8080"
    environment:
      - WEBUI_PORT=8080
      - TORRENTING_PORT=6881
      - PUID=997
      - PGID=983
      - UMASK=002 # new files permission inheritance
      - TZ=Europe/London
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${ROOT_CONFIG_FOLDER}/qbittorrent:/config
      - ${ROOT_MEDIA_FOLDER}:/data # qbittorrent should have access to entire mount point (see torrent + media files)

  jellyfin: # media server
    <<: *common-keys
    container_name: jellyfin
    image: ghcr.io/hotio/jellyfin:latest
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${ROOT_CONFIG_FOLDER}/jellyfin:/config
      - ${ROOT_MEDIA_FOLDER}/media:/data/media:ro #read-only access to media files for jellyfin, it should not be able to modify them
    # ports:
    #   - "127.0.0.1:8096:8096"

  jellyseerr:
    <<: *common-keys
    container_name: jellyseerr
    image: fallenbagel/jellyseerr:latest
    ports:
      - "127.0.0.1:5055:5055"
    volumes:
      - ${ROOT_CONFIG_FOLDER}/jellyseerr:/app/config

networks:
  arr_network:
    driver: bridge
