services:
  gluetun:
    image: qmcgaw/gluetun:latest
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    security_opt:
      - no-new-privileges:true
    environment:
      - VPN_SERVICE_PROVIDER=${VPN_SERVICE_PROVIDER}
      - VPN_TYPE=${VPN_TYPE}
      - OPENVPN_USER=${OPENVPN_USER}
      - OPENVPN_PASSWORD=${OPENVPN_PASSWORD}
      - SERVER_CITIES=${SERVER_CITIES}
    volumes:
      - ${DOCKERCONFDIR}/gluetun:/gluetun
    ports:
      - ${QBITTORRENT_PORT}:${QBITTORRENT_PORT} # Web UI qBit
      - ${SABNZBD_PORT}:${SABNZBD_PORT} # Web UI SABnzbd
    healthcheck:
      test: ["CMD", "curl", "-f", "https://www.google.com"]
      interval: 30s
      timeout: 10s
      retries: 3
    restart: unless-stopped

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    network_mode: service:gluetun
    security_opt:
      - no-new-privileges:true
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - WEBUI_PORT=${QBITTORRENT_PORT}
    volumes:
      - ${DOCKERCONFDIR}/qbittorrent:/config
      - ${BASE_PATH}/downloads/torrents:/data/downloads/torrents
    depends_on:
      gluetun:
        condition: service_healthy
    restart: unless-stopped

  sabnzbd:
    image: lscr.io/linuxserver/sabnzbd:latest
    container_name: sabnzbd
    network_mode: service:gluetun
    security_opt:
      - no-new-privileges:true
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${DOCKERCONFDIR}/sabnzbd/config:/config
      - ${BASE_PATH}/downloads/usenet:/data/downloads/usenet
    depends_on:
      gluetun:
        condition: service_healthy
    restart: unless-stopped

  radarr:
    container_name: radarr
    image: ghcr.io/hotio/radarr:latest
    security_opt:
      - no-new-privileges:true
    ports:
      - 7878:7878
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - UMASK=002
    volumes:
      - ${DOCKERCONFDIR}/radarr:/config
      - ${BASE_PATH}:/data
    restart: unless-stopped

  sonarr:
    container_name: sonarr
    image: ghcr.io/hotio/sonarr:release
    security_opt:
      - no-new-privileges:true
    ports:
      - 8989:8989
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - UMASK=002
    volumes:
      - ${DOCKERCONFDIR}/sonarr:/config
      - ${BASE_PATH}:/data
    restart: unless-stopped

  prowlarr:
    container_name: prowlarr
    image: ghcr.io/hotio/prowlarr:testing
    security_opt:
      - no-new-privileges:true
    ports:
      - 9696:9696
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${DOCKERCONFDIR}/prowlarr:/config
    restart: unless-stopped

  jellyfin:
    image: jellyfin/jellyfin:latest
    container_name: jellyfin
    security_opt:
      - no-new-privileges:true
    ports:
      - 8096:8096
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${DOCKERCONFDIR}/jellyfin/config:/config
      - ${DOCKERCONFDIR}/jellyfin/cache:/cache
      - ${BASE_PATH}/media:/data/media:ro # ACCESO SOLO LECTURA
    restart: unless-stopped
