x-common-keys: &common-keys # common keys
    restart: unless-stopped
    logging:
      driver: json-file
    security_opt:
      - no-new-privileges:true
    environment:
      PUID: 1005
      PGID: 1005
      UMASK: 002 # new files permission inheritance
      TZ: Europe/London
    dns:
      - 1.1.1.1
      - 1.0.0.1

services:

  radarr: # management of movies library
    <<: *common-keys
    container_name: radarr
    image: ghcr.io/hotio/radarr:latest
    ports:
      - 7878:7878
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /media-server-config/radarr:/config
      - /media-server:/data
  
  sonarr: # management of tv shows library  
    <<: *common-keys
    container_name: sonarr
    image: ghcr.io/hotio/sonarr:latest
    ports:
      - 8989:8989
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /media-server-config/sonarr:/config
      - /media-server:/data

  lidarr: # management of music library
    <<: *common-keys
    container_name: lidarr
    image: ghcr.io/hotio/lidarr:latest
    ports:
      - 8686:8686
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /media-server-config/lidarr:/config
      - /media-server:/data

  bazarr: # subtitles management
    <<: *common-keys
    container_name: bazarr
    image: ghcr.io/hotio/bazarr:latest
    ports:
      - 6767:6767
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /media-server-config/bazarr:/config
      - /media-server:/data

  prowlarr: # indexer manager
    <<: *common-keys
    container_name: prowlarr
    image: ghcr.io/hotio/prowlarr:latest
    ports:
      - 9696:9696
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /media-server-config/prowlarr:/config

  qbittorrent: # downloader
    <<: *common-keys
    container_name: qbittorrent
    image: ghcr.io/hotio/qbittorrent:latest
    ports:
      - 8080:8080
      - 6881:6881
      - 6881:6881/udp
    environment:
      - WEBUI_PORT=8080
      - TORRENTING_PORT=6881
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /media-server-config/qbittorrent:/config
      - /media-server:/data

  jellyfin: # media server
    <<: *common-keys
    container_name: jellyfin
    image: ghcr.io/hotio/jellyfin:latest
    volumes:
      - /etc/localtime:/etc/localtime:ro # to get time to container
      - /media-server-config/jellyfin:/config
      - /media-server/media:/data/media:ro #read-only
    ports:
      - 8096:8096

networks:
  default:
    name: arr_network